<form class="container mt-3" [formGroup]="searchCarForm">
  <!-- Quick Filters -->
  <div class="row g-3 align-items-end">
    <div class="col-md-2">
        <h5 class="mb-0">Quick Filters</h5>
    </div>
  <div class="col-md-10 text-end">
    <a class="btn btn-primary me-1" data-bs-toggle="collapse" href="#advancedFilters" role="button" aria-expanded="false" aria-controls="collapseExample">
    Advance Filters
  </a>
    <button type="submit" class="btn btn-success me-1" (click)="onSearch()">Search</button>
    <button type="submit" class="btn btn-secondary me-1" (click)="sortCars()">Sort</button>
    <button type="reset" class="btn btn-dark me-1">Reset</button>
  </div>
  <div class="row g-3">
    <div class="col-12 d-flex justify-content-between align-items-center">


      </div>
    </div>

    <div class="col-md-3">
      <label class="form-label" >Name</label>
      <input type="text" class="form-control form-control-sm" formControlName="name"/>
    </div>

    <div class="col-md-3">
      <label class="form-label"  >Model Year</label>
      <input type="text" class="form-control form-control-sm" formControlName="model_year"/>
    </div>

    <div class="col-md-3">
      <label class="form-label">Origin</label>
      <input type="text" class="form-control form-control-sm"  formControlName="origin"/>
    </div>

    <div class="col-md-3">
      <label class="form-label">Cylinders</label>
      <select class="form-select form-select-sm" formControlName="cylinders">
         <option value="Any">Any</option>
           <option [value]="3">3</option>
           <option [value]="4">4</option>
           <option [value]="5">5</option>
           <option [value]="6">6</option>
          <option [value]="8">8</option>
      </select>
    </div>
  </div>

  <!-- <hr class="my-4" /> -->

  <!-- Performance & Specs -->
  <div class="collapse mt-3" id="advancedFilters">
  <div class="card card-body">
  <div class="row g-3">
    <div class="col-12"><h5>Performance & Specs</h5></div>

  <div class="col-md-6">
  <label class="form-label">MPG Range (5 - 60):</label>
  <div class="d-flex align-items-center">
    <input
      type="range"
      class="form-range me-2"
      min="5"
      max="60"
      step="0.1"
      formControlName="mpgMin"
    />
    <input
      type="range"
      class="form-range ms-2"
      min="5"
      max="60"
      step="0.1"
      formControlName="mpgMax"
    />
  </div>
  <div>
    <span class="fw-semibold">From: {{ searchCarForm.get('mpgMin')?.value }}</span> -
    <span class="fw-semibold">To: {{ searchCarForm.get('mpgMax')?.value }}</span>
  </div>
</div>

  <div class="col-md-6">
  <label class="form-label">Horsepower (50 - 400):</label>
  <div class="d-flex align-items-center">
    <input
      type="range"
      class="form-range me-2"
      min="50"
      max="400"
      step="1"
      formControlName="hpMin"
    />
    <input
      type="range"
      class="form-range ms-2"
      min="50"
      max="400"
      step="1"
      formControlName="hpMax"
    />
  </div>
  <div>
    <span class="fw-semibold">From: {{ searchCarForm.get('hpMin')?.value }}</span> -
    <span class="fw-semibold">To: {{ searchCarForm.get('hpMax')?.value }}</span>
  </div>
</div>

  <div class="col-md-6">
  <label class="form-label">Displacement cu in (70-500) :</label>
  <div class="d-flex align-items-center">
    <input
      type="range"
      class="form-range me-2"
      min="70"
      max="500"
      step="1"
      formControlName="dipMin"
    />
    <input
      type="range"
      class="form-range ms-2"
      min="70"
      max="500"
      step="1"
      formControlName="dipMax"
    />
  </div>
  <div>
    <span class="fw-semibold">From: {{ searchCarForm.get('dipMin')?.value }}</span> -
    <span class="fw-semibold">To: {{ searchCarForm.get('dipMax')?.value }}</span>
  </div>
</div>

  <div class="col-md-6">
  <label class="form-label">Weight lb (1500-6000) :</label>
  <div class="d-flex align-items-center">
    <input
      type="range"
      class="form-range me-2"
      min="1500"
      max="6000"
      step="1"
      formControlName="weightMin"
    />
    <input
      type="range"
      class="form-range ms-2"
      min="1500"
      max="6000"
      step="1"
      formControlName="weightMax"
    />
  </div>
  <div>
    <span class="fw-semibold">From: {{ searchCarForm.get('weightMin')?.value }}</span> -
    <span class="fw-semibold">To: {{ searchCarForm.get('weightMax')?.value }}</span>
  </div>
  </div>

  <div class="col-md-6">
  <label class="form-label">Acceleration s (5-25) :</label>
  <div class="d-flex align-items-center">
    <input
      type="range"
      class="form-range me-2"
      min="5"
      max="25"
      step="0.1"
      formControlName="accMin"
    />
    <input
      type="range"
      class="form-range ms-2"
      min="5"
      max="25"
      step="0.1"
      formControlName="accMax"
    />
  </div>
  <div>
    <span class="fw-semibold">From: {{ searchCarForm.get('accMin')?.value }}</span> -
    <span class="fw-semibold">To: {{ searchCarForm.get('accMax')?.value }}</span>
  </div>
  </div>

  </div>
  </div>
  </div>

  <hr class="my-4" />

 <!-- Actions -->
  <div class="row g-3 align-items-end">
    <div class="col-md-10">
      <button type="button" class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#addCarModal">Add Car</button>
      <button type="submit" class="btn btn-warning me-1" (click)="downloadCsv()">Download CSV</button>
    </div>
  </div>
</form>

<!--Add new car modal-->

<div class="modal fade" id="addCarModal" tabindex="-1" aria-labelledby="addCarModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="addCarModalLabel">Add New Car</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Form body -->
      <form [formGroup]="addCarForm" (ngSubmit)="onAddCar()">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row g-3">
              <div class="col-md-6">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
              <div class="col-md-6">
              <label class="form-label">Origin</label>
               <input type="text" class="form-control" formControlName="origin">
              </div>

              <div class="col-md-4">
                <label class="form-label">Model Year</label>
                <input type="number" class="form-control" formControlName="model_year">
              </div>
              <div class="col-md-4">
                <label class="form-label">Cylinders</label>
                <select class="form-select" formControlName="cylinders">
                  <option value="">Select</option>
                  <option>3</option><option>4</option><option>5</option><option>6</option><option>8</option>
                </select>
              </div>
              <div class="col-md-4">
                <label class="form-label">MPG</label>
                <input type="number" class="form-control" formControlName="mpg">
              </div>

              <div class="col-md-4">
                <label class="form-label">Horsepower</label>
                <input type="number" class="form-control" formControlName="horsepower">
              </div>
              <div class="col-md-4">
                <label class="form-label">Displacement</label>
                <input type="number" class="form-control" formControlName="displacement">
              </div>
              <div class="col-md-4">
                <label class="form-label">Weight</label>
                <input type="number" class="form-control" formControlName="weight">
              </div>

              <div class="col-md-4">
                <label class="form-label">Acceleration</label>
                <input type="number" class="form-control"formControlName="acceleration" >
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Car</button>
        </div>
      </form>
    </div>
  </div>
</div>
